.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: rgb(8, 54, 80);
  color: white;
}


.App-title {
  font-family: 'Girassol', cursive;
  font-size: 45px;
}